$yellowColor: #ffcd32;

//반응형 mixin
@mixin btnSizeMedia {
  font-size: 14px;
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 12px;
  }
  @media (min-width: 601px) and (max-width: 768px) {
    font-size: 10px;
  }
  @media (max-width: 600px) {
    font-size: 8px;
  }
}

@mixin btnPositionMedia {
  @media (min-width: 769px) and (max-width: 1024px) {
    top: 82%;
    left: 42%;
  }
  @media (min-width: 601px) and (max-width: 768px) {
    top: 80%;
    left: 40%;
  }
  @media (min-width: 421px) and (max-width: 600px) {
    top: 78%;
    left: 38%;
  }
  @media (max-width: 420px) {
    top: 70%;
    left: 30%;
  }
}

@mixin mainTitleMedia {
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 25px;
  }
  @media (min-width: 601px) and (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 600px) {
    font-size: 15px;
  }
}

@mixin mainContentMedia {
  @media (min-width: 601px) and (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 600px) {
    font-size: 9px;
  }
}

@mixin subscribeInfoMedia {
  @media (min-width: 601px) and (max-width: 768px) {
    margin-top: 35px;
    padding: 15px 30px;
    font-size: 11px;
  }
  @media (max-width: 600px) {
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 9px;
  }
}

@mixin subscribeCardMedia {
  @media (min-width: 601px) and (max-width: 1024px) {
    margin-top: -60px;
  }
  @media (max-width: 600px) {
    margin-top: -80px;
  }
}

//CSS 영역
.bannerContainer {
  position: relative;
  overflow: hidden;

  .slideContainer {
    display: flex;
    width: 100%;

    .bannerImg {
      width: 100%;
    }
  }
}

.turn_banner_btn_wrapper {
  position: absolute;
  top: 85%;
  left: 45%;
  @include btnPositionMedia;

  .turnBannerBtn {
    padding: 5px 13px 5px 5px;
    border-radius: 50%;
    border: none;
    color: rgb(241, 239, 239);
    background-color: rgba(150, 150, 150, 0.5);
    @include btnSizeMedia;
  }
  .turnBannerCounter {
    padding: 6px 17px;
    margin: 0 15px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(52, 50, 50, 0.4);
    @include btnSizeMedia;
  }
}

.mainTitleContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;

  @media (max-width: 1024px) {
    display: block;
  }

  .mainTitleWrapper {
    padding-top: 150px;
    text-align: center;
    @media (max-width: 1024px) {
      padding-top: 70px;
    }

    .mainTitle {
      margin-bottom: 15px;
      font-size: 30px;
      font-weight: 400;
      @include mainTitleMedia;
    }
    .mainTitleBottom {
      font-size: 30px;
      @include mainTitleMedia;
    }
    .mainTitleContent {
      margin: 25px 0;
      color: #787878;
      font-weight: 300;
      @include mainContentMedia;
    }
  }
}

.sizeWrapper {
  .size {
    margin-right: 20px;
    padding: 3px 7px;
    border-radius: 50%;
    color: #fff;
    background-color: $yellowColor;
    font-size: 10px;
    letter-spacing: -0.1px;
  }
}

.learn_more_subscription {
  margin-top: 40px;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  background-color: #f7f7f7;
  font-size: 15px;
  cursor: pointer;

  @include subscribeInfoMedia;

  &:hover {
    background-color: $yellowColor;
  }
}

.subscriptionCard {
  display: flex;
  justify-content: center;
  @include subscribeCardMedia;
}
