$paddingValue: 0 10px;
$darkColor: #222222;
$yellowColor: #ffcd32;

@mixin container {
  width: 1100px;

  @media (min-width: 769px) and (max-width: 1100px) {
    width: 768px;
  }

  @media (min-width: 601px) and (max-width: 768px) {
    width: 600px;
  }

  @media (min-width: 421px) and (max-width: 600px) {
    width: 420px;
  }

  @media (max-width: 420px) {
    width: 320px;
  }
}

@mixin headerMenuMedia {
  @media (min-width: 769px) and (max-width: 1100px) {
    font-size: 14px;
  }

  @media (min-width: 601px) and (max-width: 768px) {
    font-size: 13px;
  }

  @media (max-width: 600px) {
    font-size: 11px;
  }

  @media (max-width: 420px) {
    padding: 0 5px;
  }
}

@mixin navListMedia {
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }

  @media (min-width: 768px) and (max-width: 1100px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

@mixin menuIconMedia {
  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    margin-left: 20px;
    color: #707070;
    font-size: 27px;
  }
}

@mixin cartCounterMedia {
  right: -10%;

  @media (max-width: 768px) {
    right: 25%;
  }
}
@mixin displayNone {
  @media (min-width: 769px) {
    display: none;
  }
}

@mixin hiddenNavListMedia {
  @media (min-width: 601px) and (max-width: 768px) {
    width: 170px;
  }

  @media (min-width: 421px) and (max-width: 600px) {
    width: 150px;
  }

  @media (max-width: 420px) {
    width: 120px;
  }
}

@mixin hiddenMainLogoMedia {
  @media (min-width: 601px) and (max-width: 768px) {
    width: 140px;
  }

  @media (min-width: 421px) and (max-width: 600px) {
    width: 120px;
  }

  @media (max-width: 420px) {
    width: 100px;
  }
}

@mixin hiddenNavMenuMedia {
  @media (min-width: 421px) and (max-width: 600px) {
    font-size: 15px;
  }

  @media (max-width: 420px) {
    font-size: 13px;
  }
}

.allWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerWrapper {
  @include container;

  .headerList {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px 0;
    list-style: none;

    .headerLine {
      padding: $paddingValue;
      border-right: 1px solid $darkColor;
      @include headerMenuMedia;

      .headerUserName {
        color: $yellowColor;
        font-weight: 500;
      }
    }

    .headerMenu {
      padding: $paddingValue;
      color: $darkColor;
      border-right: 1px solid $darkColor;
      font-weight: 300;
      cursor: pointer;
      @include headerMenuMedia;

      .pointColor {
        color: #46cfa7;
        font-weight: 500;
      }
    }
  }
}

.navSticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;

  .navWrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mainLogo {
      width: 200px;
      padding-top: 20px;

      @media (max-width: 768px) {
        width: 140px;
      }
    }

    .navList {
      @include navListMedia;

      .navMenu {
        height: 30px;
        color: $darkColor;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        @media (max-width: 1100px) {
          font-size: 15px;
        }

        &:hover {
          bottom: -14px;
          border-bottom: 5px solid $yellowColor;
        }
      }
    }
  }
}

.iconWrapper {
  position: relative;

  .navIcon {
    margin-left: 20px;
    color: #707070;
    font-size: 40px;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .menuIcon {
    @include menuIconMedia;
  }
}

.cartCounterCss {
  position: absolute;
  top: -10%;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: $yellowColor;
  font-size: 12px;
  @include cartCounterMedia;
}

@keyframes fadeIn {
  0% {
    transform: translateX(15%);
  }

  100% {
    transform: translateY(0);
  }
}

.hiddenNavContainer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  @include displayNone;

  .hiddenNavWrapper {
    height: 100vh;
    padding: 110px 0;
    background-color: white;
    border-left: 1.5px solid $yellowColor;
    animation-name: fadeIn;
    animation-duration: 1s;
    @include hiddenNavListMedia;

    .hiddenNavList {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      .hiddenMainLogo {
        padding-bottom: 15px;
        @include hiddenMainLogoMedia;
      }

      .hiddenNavMenu {
        margin-bottom: 5px;
        height: 30px;
        color: #525151;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        @include hiddenNavMenuMedia;

        &:hover {
          bottom: -14px;
          border-bottom: 5px solid $yellowColor;
        }
      }
    }
  }
}
